<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/paginaListaAdministrador.css" rel="stylesheet">
    <title>Gestão - Professores</title>
</head>

<body class="fade-in">
    <%- include('partials/backButton.ejs') %>
    <div class="container">
        <div class="topRow">
            <%- include('partials/searchBox.ejs') %>
                <button class="addButton">Adicionar professor ➕</button>
        </div>
        <div class="objectListWrapper">
            <% if (!orientadores || Object.keys(orientadores).length===0) { %>
                <p>Ops! Parece que não existe nenhum professor cadastrado ainda.</p>
            <% } else { %>
                <% for (i = 0; i < orientadores.length; i++) { %>
                    <% let orientador = orientadores[i] %>
                    <div class="objectListItem">
                        <span class="span-row span-row-xlarge">
                            <%= orientador.nome %>
                        </span>
                        <div class="flex-end-buttons-row">
                            <button class="flex-end-button">🗑️</button>
                            <button class="flex-end-button">✏️</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</body>

</html>