@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 56px;
    display: block;
    line-height: normal;
    margin-bottom: 25px;
}

h2 {
    font-size: 36px;
    display: block;
    line-height: normal;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    display: block;
    line-height: normal;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    display: block;
    line-height: normal;
}

button, input[type="submit"] {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
}

.redBorderBottom {
    border-bottom: 4px darkred solid;
}

@keyframes fade-in {
    to {
      opacity: 1;
    }
}