.body {
    padding: 0%;
    margin: 0%;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(img/Fatec-Garça.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2 {
    font-size: 200px;
    color: blue;
    margin: 0%;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: blue;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}